{% load static %}
<html lang="en">
<head>
   {% include "viewcomplaint/managerheader.html" %}
</head>
<br>
<br>
<br>
<body>

 {% for obj in data %}
 <table align="center" width="50%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
     <tr><td>Complaint id</td><td>{{ obj.id }}</td></tr>
     <tr>   <td>Complaint content</td><td>{{ obj.complaintcontent }}</td></tr>
     <tr>  <td>Branch Name</td><td>{{ obj.branch_id }}</td></tr>

      </table>
 <br>
 <br>
 <br>





    {% endfor %}



</body>
<br>
<br>
<br>
{% include "footer.html" %}
</html>