{% load static %}
<html lang="en">
<head>
{% include "adbranch/admin.html" %}
</head>
<br>
<br>
<br>
<body>

<h3 align="center">Feedbacks</h3>
            {% for obj in data1 %}
     <table align="center" width="50%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">


                  <tr> <td>Feedback id</td><td>{{obj.id }}</td></tr>

                  <tr><td>Feedback content</td><td>{{ obj.feedbackcontent }}</td></tr>
                  <tr><td>Feedback Date</td><td>{{ obj.feedbackdate }}</td></tr>

                  <tr><td>Branch Name</td><td>{{ obj.branch_id }}</td></tr>



           </table>
            <br>
            <br>
            <br>
            {% endfor %}
<h3 align="center">Complaints</h3>
{% for obj in data2 %}
 <table align="center" width="50%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
     <tr><td>Complaint id</td><td>{{ obj.id }}</td></tr>
     <tr>   <td>Complaint content</td><td>{{ obj.complaintcontent }}</td></tr>
     <tr>  <td>Branch Name</td><td>{{ obj.branch_id }}</td></tr>

      </table>
 <br>
 <br>
 <br>





    {% endfor %}




</body>
<br>
<br>
<br>
{% include "footer.html" %}
</html>