<!DOCTYPE html>
{% load static %}
<html>
{% include "cashon/user.html" %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
    </head>
    <script>
function check()
{
    if(document.getElementById('card').checked)
    {
        window.location.href='CardPayment.html';
    }else if(document.getElementById('netbanking').checked)
    {
        window.location="../purchase/NetBanking.jsp";
    }
    else if(document.getElementById('cash').checked)
    {
        window.location="../purchase/FinalPage.jsp";
    }


}

</script>
    <body>
    {% if messages %}
<ul>
   {% for message in messages %}

     <script>
    alert('{{ message }}');
</script>
   {% endfor %}
</ul>
{% endif %}

    <form method="post">
        {% csrf_token %}
        <table cellpadding="7" align="center" bgcolor="#FAFAFA" width="45%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">


            <tr align="center">


                 <td colspan="3"  align="center">

                    Grand Total:Rs {{ g.grand }}<br><br>
                    No of Tables: {{ q.quan }}
                   </td>
            </tr>





        </table >

        <table align="center" bgcolor="#FAFAFA"  width="45%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
            <tr>
                <td>
                    <img src="{% static 'img/icon-benefitinvoicing-getpaid.png' %}" width="350" height="200">
                </td>
                <td>


                    <h3 align="center"><font color="#03A9F4">  <b><a href="{% url 'creditt:creditt' %}" >Credit/Debit/ATM Card</a></b></font></h3>
                    <h3 align="center"><font color="#03A9F4">  <b><a href="{% url 'nett:nett' %}" >Net Banking</a></b></font></h3>
                    <h3 align="center"><font color="#03A9F4">  <b><a href="{% url 'casht:casht' %}" >Cash On Delivery</a></b></font></h3>

                </td>
                <td>
                    {{ a }}
                </td>
            </tr>
        </table>
    </form>

    </body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% include "footer.html" %}
</html>
