
<!DOCTYPE html>
{% load static %}
<html>
{% include "cashon/user.html" %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
    </head>
     <script>
        
       function redirect()
       {
           window.location="../purchase/FinalPage.jsp";
       }
    </script>
    <body>
        <table align="center">
            <tr>
                <td>
                    <img src="{% static 'img/cards.png' %}">
                </td>
            </tr>
        </table>
        <table align="center">
            <tr align="center">
                
                 <td> 
                 <input type="date" name="date" style="width: 50%;padding: 12px 20px; margin: 8px 0;
                    box-sizing: border-box;border-radius: 5px; background-image: url('../purchase/icon/calendar.png'); background-position: 2px 2px; background-repeat: no-repeat;">
                   <input type="text" name="txt_cvv" placeholder="CVV" style="width: 20%;padding: 12px 20px; margin: 8px 0;
                        box-sizing: border-box;border-radius: 5px; background-position: 2px 2px; background-repeat: no-repeat;"><br>
                  <input type="text" name="txt_pin" placeholder="Enter pin" style="width: 70%;padding: 12px 20px; margin: 8px 0;
                         box-sizing: border-box;border-radius: 5px; background-image: url('../purchase/icon/at.png'); background-position: 2px 2px; background-repeat: no-repeat;">
                 </td>
                 <td>
                    <input type="text" name="txt_name" placeholder="Enter hard holder name" style="width: 100%;padding: 12px 20px; margin: 8px 0;
                        box-sizing: border-box;border-radius: 5px; background-image: url('../purchase/icon/add-contact(1).png'); background-position: 2px 2px; background-repeat: no-repeat;"><br>
               
                 <input type="text" name="txt_cardno" placeholder="Enter Card Number" style="width: 100%;padding: 12px 20px; margin: 8px 0;
                        box-sizing: border-box;border-radius: 5px; background-image: url('../purchase/icon/credit-card.png'); background-position: 2px 2px; background-repeat: no-repeat;"><br>
                 </td>
            </tr> 
            <tr>
                <td colspan="2" align="center">

                    <h3 align="center"><font color="#03A9F4">  <b><a href="{% url 'cashtab:cashtab' %}" >Pay</a></b></font></h3>
                </td>
            </tr>
        </table>
    </body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% include "footer.html" %}
</html>
