{% load static %}

<html lang="en">
    <head>
{% include "booktable/user.html" %}
    </head>
    <br>
    <br>
    <br>


    <body>
    <!--{% if messages %}-->
<!--<ul>-->
   <!--{% for message in messages %}-->

     <!--<script>-->
    <!--alert('{{ message }}');-->
<!--</script>-->
   <!--{% endfor %}-->
<!--</ul>-->
<!--{% endif %}-->

<form method="post">
    {% csrf_token %}

<table align="center" width="50%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">

        <tr>

            <td>Table no</td>
       <td>Seat No</td>
        <td>Rate</td>
    </tr>
    {% for obj1 in data %}
    <tr>

        <td>{{ obj1.tableno }}</td>
        <td>{{ obj1.seatno }}</td>
        <td>{{ obj1.tablerate }}</td>


    </tr>

    {% endfor %}

</table>
<br>
    <br>
    <br>
                <table align="center" width="50%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
                     <tr>
                        <td>
                           Booking Date :
                        </td>
                           <td>
                           {{ form.bookingdate }}
                          </td>
                    </tr>
                    <tr>
                        <td>
                           Booking Time :
                        </td>
                        <td>
                           {{ form.bookingtime }}
                          </td>
                    </tr>
                    <tr>
                        <td>
                           Booking Rate :
                        </td>
                         <td>
                           {{ form.bookingrate }}
                          </td>
                    </tr>

                    <tr>
                         <td>
                           Booking Status :
                        </td>
                         <td>
                           {{ form.bookingstatus }}
                          </td>
                    </tr>

                    <tr>
                         <td align="center">
                        <input type="submit" name="summit" value="INSERT">
                         </td>
                    </tr>

                </table>
    <!--<br>-->
    <!--<br>-->
    <!--<table align="center" width="50%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">-->

        <!--<tr>-->
            <!--<td>Booking id</td>-->
        <!--<td>Booking date</td>-->
        <!--<td>Booking time</td>-->
        <!--<td>Table no</td>-->
            <!--<td>No of seats</td>-->
            <!--<td>Rate</td>-->

    <!--</tr>-->
    <!--{% for obj in data1 %}-->
    <!--<tr>-->
        <!--<td>{{ obj.id }}</td>-->
        <!--<td>{{ obj.bookingdate }}</td>-->
        <!--<td>{{ obj.bookingtime }}</td>-->
        <!--<td>{{ obj.table_id }}</td>-->
        <!--<td>{{ obj.table_id }}</td>-->
        <!--<td>{{ obj.tablerate }}</td>-->

    <!--</tr>-->



    <!--{% endfor %}-->

<!--</table>-->
       </form>
    </body>
<br>
<br>
{% include "footer.html" %}
</html>