{% load static %}
<html>

<body>
<section class="service_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service_item">
                            <img src="{% static 'img/service-icon/service-1.png' %}" alt="">
                            <h3>Vegetarian</h3>
                            <p>Lorem ipsum dolor sit amet, cont tempor incididunt ut labore dolor adipiscing elit, sed do eiusmod et  magna aliquaquat officia.</p>
                            <a class="read_mor_btn" href="#">Read More</a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="service_item">
                            <img src="{% static 'img/service-icon/service-3.png' %}" alt="">
                            <h3>Non Vegetarian</h3>
                            <p>Lorem ipsum dolor sit amet, cont tempor incididunt ut labore dolor adipiscing elit, sed do eiusmod et  magna aliquaquat officia.</p>
                            <a class="read_mor_btn" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service_item">
                            <img src="{% static 'img/service-icon/service-2.png' %}" alt="">
                            <h3>Coffee</h3>
                            <p>Lorem ipsum dolor sit amet, cont tempor incididunt ut labore dolor adipiscing elit, sed do eiusmod et  magna aliquaquat officia.</p>
                            <a class="read_mor_btn" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service_item">
                            <img src="{% static 'img/service-icon/service-4.png' %}" alt="">
                            <h3>Drinks</h3>
                            <p>Lorem ipsum dolor sit amet, cont tempor incididunt ut labore dolor adipiscing elit, sed do eiusmod et  magna aliquaquat officia.</p>
                            <a class="read_mor_btn" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
</html>